@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --primary-color: hsl(180, 29%, 50%);

  --background: hsl(180, 52%, 96%);
  --filter-tablets: hsl(180, 24%, 91%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

html {
  font-size: 15px;
  font-weight: 500;
}

body {
  margin: 0;

  font-family: "League Spartan";

  background-color: var(--primary-color);
  background-image: url("./assets/icons/bg-header-mobile.svg");
  background-size: auto;
  background-position: right top;
  background-repeat: repeat-x;
}

#filterable-data-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-top: 156px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--background);
}

#job-list-container {
  box-sizing: border-box;

  margin-top: 40px;
  padding-bottom: 80px;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  row-gap: 30px;
}

.job-entity {
  position: relative;
  box-sizing: border-box;
  display: flex;

  width: 80%;
  margin-top: 10px;
  padding: 20px 30px;

  justify-content: space-around;
  gap: 20px;

  background-color: var(--background);
  box-shadow: 0 5px 10px var(--dark-grayish-cyan);
  border-radius: 7px;

  transition: all 0.3s ease;
}

.job-entity::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 7px;
  background-color: transparent;
  transition: all 0.3s ease;
  border-radius: 7px 0 0 7px;
}

.job-entity:hover::before {
  background-color: var(--primary-color);
}

.job-entity > img {
  display: block;
  position: absolute;

  height: 50px;
  top: -25px;
  left: 25px;
}

.content-container {
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 15px;
}

.job-description {
  display: flex;
  padding-top: 25px;

  flex-direction: column;
  justify-content: space-around;
  column-gap: 1px;
  row-gap: 25px;
}

.company-description {
  display: flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
}

.company-name {
  font-weight: 700;
  color: var(--primary-color);
}

.new-featured {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  color: var(--primary-color);
}

.new-featured > span {
  display: inline-block;

  height: 16px;
  padding: 8px;
  border-radius: 16px;

  line-height: 16px;
  color: white;
}

.new-indicator {
  background-color: var(--primary-color);
}

.featured-indicator {
  background-color: var(--very-dark-grayish-cyan);
}

.position {
  display: inline-block;

  font-weight: 700;
  transition: color 0.15s ease;
}

.position:focus,
.position:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.other-info {
  display: flex;

  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: left;

  color: var(--dark-grayish-cyan);
}

.other-info > span {
  display: inline-block;
}

.other-info > span:not(:last-child)::after {
  content: "·";
  margin: 0 10px;
}

.category-container {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 15px;
}

.category-container::before {
  display: block;
  width: 100%;
  height: 1px;

  background-color: var(--very-dark-grayish-cyan);
  content: "";
}

.category-container > span {
  display: inline-block;

  height: 20px;
  padding: 6px;

  color: var(--primary-color);
  line-height: 20px;
  text-align: center;

  background-color: var(--filter-tablets);
  border-radius: 5px;

  transition: background-color 0.3s ease;
}

.category-container > span:hover {
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
}

#filter-container {
  position: relative;
  box-sizing: border-box;
  display: flex;

  top: -30px;
  width: 80%;
  padding: 20px 40px;

  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;

  border-radius: 15px;
  box-shadow: 0 5px 10px var(--dark-grayish-cyan);
  background-color: var(--background);
}

#filter-element-container {
  display: flex;

  flex-wrap: wrap;
  flex-direction: row;

  row-gap: 20px;
  column-gap: 10px;
}

.filter-element {
  display: flex;

  height: 30px;
  flex-direction: row;
  justify-content: center;
}

.filter-element > span {
  display: block;

  padding: 0 5px;

  color: var(--primary-color);
  text-align: center;
  line-height: 30px;

  background-color: var(--filter-tablets);
  border-radius: 5px 0 0 5px;
}

.filter-element-remove {
  background-color: hsl(180, 29%, 50%);
  display: flex;
  justify-content: center;
  padding: 8px;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s ease;
}

.filter-element-remove:hover {
  background-color: var(--very-dark-grayish-cyan);
  cursor: pointer;
}

#filter-clear {
  color: var(--very-dark-grayish-cyan);
  text-align: center;
  height: 30px;
  line-height: 30px;
}

#filter-clear:hover {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("./assets/icons/bg-header-desktop.svg");
  }

  #job-list-container {
    margin-top: 90px;
  }

  .job-entity {
    height: 150px;
    padding: 20px 40px;

    justify-content: space-between;
    border-radius: 15px;
  }

  .job-entity::before {
    width: 15px;
    border-radius: 15px 0 0 15px;
  }

  .job-entity > img {
    position: static;
    height: 90px;

    align-self: center;
  }

  .content-container {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 15px;
  }

  .job-description {
    padding: unset;
    gap: unset;
  }

  .category-container {
    align-items: center;
    justify-content: end;
  }

  .category-container::before {
    content: none;
  }

  #filter-container {
    position: absolute;
    box-sizing: border-box;

    align-items: center;
  }

  #filter-element-container {
    column-gap: 15px;
    row-gap: 10px;
  }
}
