body {
    background-color: hsl(180, 29%, 50%);
    background-image: url("./assets/icons/bg-header-desktop.svg");
    background-size:auto;
    background-position: right top;
    background-repeat: repeat-x;

    font-family: 'League Spartan';
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

#filterable-data-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 156px;
    width: 100%;

    background-color: hsl(180, 31%, 95%);
}

#job-list-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    row-gap: 30px;
    padding-bottom: 80px;
    width: 100%;
    margin-top: 90px;
}

.job-entity {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 150px;
    border-radius: 15px;
    padding: 20px 40px;
    background-color: hsl(180, 52%, 96%);

    justify-content: space-between;
    box-shadow: 0 5px 10px hsl(180, 8%, 52%);
    gap: 20px;

}

.job-entity>img {
    width: auto;
    height: 90px;
    align-self: center;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 91.5%;
    height: 100%;
}

.job-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
}

.company-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
}

.company-name {
    color: hsl(180, 29%, 50%);
}

.new-featured {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: hsl(180, 29%, 50%);
    font-weight: bolder;
    gap: 15px;
}

.new-indicator {
    background-color: hsl(180, 29%, 50%);
    color: white;

    display: inline-block;
    height: 10px;
    padding: 5px;
    border-radius: 10px;

    line-height: 10px;
    font-weight: 700;
    font-size: 0.75em;
}

.featured-indicator {
    background-color: hsl(180, 14%, 20%);
    color: white;

    display: inline-block;
    height: 10px;
    padding: 5px;
    border-radius: 10px;
    line-height: 10px;
    font-size: 0.75em;
}

.position {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 700;
    transition: color 0.15s ease;
}

.other-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: left;
    color: hsl(180, 8%, 52%);
}

.other-info>span {
    display: inline-block;
}

.other-info>span:not(:last-child)::after {
    content: "·";
    margin: 0 10px;
}

.category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    column-gap: 10px;
}

.category-container>span {
    display: inline-block;
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 31%, 90%);
    height: 20px;
    width: auto;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 0.85em;
    font-weight: 700;
    padding: 0 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.category-container>span:hover {
    color: white;
    background-color: hsl(180, 29%, 50%);
    cursor: pointer;
}

.position:hover {
    color: hsl(180, 29%, 50%);
    cursor: pointer;
}

.job-entity[data-is-new="true"] {
    background-image: linear-gradient(to right, hsl(180, 29%, 50%) 0px, hsl(180, 29%, 50%) 10px, hsl(180, 52%, 96%) 10px);
}

#filter-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: auto;
    border-radius: 15px;
    padding: 20px 40px;
    background-color: hsl(180, 52%, 96%);

    justify-content: space-between;
    box-shadow: 0 5px 10px hsl(180, 8%, 52%);

    position: absolute;
    top: -45px;
}

#filter-element-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    justify-items: start;
    align-items: start;
    column-gap: 15px;
    row-gap: 10px;
    /* width: 78%; */
}

.filter-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    font-weight: 700;
}

.filter-element>span {
    display: block;
    text-align: center;
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 31%, 90%);
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    padding: 0 5px;
    border-radius: 5px 0 0 5px;
}

.filter-element-remove {
    background-color: hsl(180, 29%, 50%);
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s ease;
}

.filter-element-remove:hover {
    background-color: hsl(180, 14%, 20%);
    cursor: pointer;
}

#filter-clear {
    color: hsl(180, 29%, 50%);
    text-align: center;
    height: 30px;
    line-height: 30px;
}

#filter-clear:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    body {
        font-size: 10px;
    }

    #job-list-container {
        margin-top: 30px;
    }
    
    .job-entity {
        height: 130px;
    }

    .job-entity>img {
        width: auto;
        height: 60px;
    }

    .category-container {
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;
        justify-items: center;
    }

    .company-description {
        gap: 5px;
    }

    .new-featured {
        gap: 5px;
    }

    .other-info>span:not(:last-child)::after {
        content: "·";
        margin: 0 5px;
    }

    #filter-container {
        position: relative;
        top: -30px;
    }

    #filter-element-container {
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 5px;
    }

}

@media screen and (max-width: 375px) {

    body {
        font-size: 17px;
        font-weight: 700;
        background-image: url("./assets/icons/bg-header-mobile.svg");
    }

    #job-list-container {
        margin-top: 60px;
    }

    .job-entity {
        margin-top: 10px;
        position: relative;
        flex-direction: column;
        align-items: left;
        height: auto;
        height: auto;
        border-radius: 7px;
    }

    .job-entity>img {
        height: 50px;
        width: auto;
        row-gap: 20px;
        position: absolute;
        display: block;
        top: -25px;
        left: 25px;
    }

    .content-container {
        flex-direction: column;
        width: auto;
        row-gap: 5px;
    }

    .job-description {
        height: auto;
        column-gap: 1px;
        row-gap: 25px;
        justify-content: space-around;
        padding-top: 25px;
    }

    .job-description>.company-description>.new-featured {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: hsl(180, 29%, 50%);
        font-weight: bolder;
        gap: 10%;
    }

    .category-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        justify-items: start;
        row-gap: 20px;
    }

    .category-container>span {
        font-weight: 700;
        padding: 2px;
        font-size: 1.15rem;
        height: 20px;
        line-height: 20px;
    }

    .category-container::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: hsl(180, 8%, 52%);
        margin-top: 1px;
    }

    .category-container>span:focus {
        color: white;
        background-color: hsl(180, 29%, 50%);
        cursor: pointer;
    }

    .position:focus {
        color: hsl(180, 29%, 50%);
        cursor: pointer;
    }

    .job-entity[data-is-new="true"] {
        background-image: linear-gradient(to right, hsl(180, 29%, 50%) 0px, hsl(180, 29%, 50%) 5px, hsl(180, 52%, 96%) 5px);
    }

    #filter-container {
        width: 80%;
        justify-content: space-between;
        align-items: center;
        top: -70px;
        padding: 10px 20px;
        position: relative;
        top: -30px;
    }

    #filter-element-container {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
        align-content: start;
        justify-items: start;

        width: 200px;
        row-gap: 20px;
        column-gap: 10px;
    }
}